{% extends "base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
<div>
  <h3>{{ note.title }}</h3>
  <h4><a href="/note/{{ note.id }}">Current version</a></h4>
  <h4>Previous versions</h4>
  <ul>
    {% for version in note.versions|sort(attribute='modified_at', reverse=True) %}
    <li><a href="/version/{{ version.id }}">
        <b>{{ version.title or 'Untitled' }}</b>
        <em>({{ version.modified_at.strftime('%Y-%m-%d %H:%M:%S') }})</em>
    </a></li>
    {% else %}
    <em>No previous verions</em>
    {% endfor %}
  </ul>
</div>
{% endblock %}
